.cart_header::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 2px;
    background-color: rgb(236, 118, 118);
    font-weight: bold;
}

.slide-up {
    animation: slideUp 1s ease-out forwards;
}

/* انیمیشن از پایین به بالا */
@keyframes slideUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsive */
@media only screen and (max-width: 450px) {

    .cart_header {
        font-size: 1.2rem;
    }

    .cart_header::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 130px;
        height: 2px;
        background-color: rgb(236, 118, 118);
        font-weight: bold;
    }

    .shopping_icon {
        font-size: 5rem;
    }
}